Package Version
AnnotationDbi 1.48.0
BBmisc 1.12
BH 1.78.0-0
Biobase 2.46.0
BiocGenerics 0.32.0
BiocManager 1.30.18
BiocParallel 1.20.1
BiocVersion 3.10.1
Biostrings 2.54.0
Cairo 1.6-0
DBI 1.1.3
DT 0.23
IRanges 2.20.2
KMsurv 0.1-5
LiblineaR 2.10-12
MatrixModels 0.5-0
PRROC 1.3.1
ParamHelpers 1.14.1
R6 2.5.1
RColorBrewer 1.1-3
RCurl 1.98-1.8
RSQLite 2.2.15
Rcpp 1.0.9
RcppEigen 0.3.3.9.1
Rhdf5lib 1.8.0
S4Vectors 0.24.4
SIAMCAT 2.0.0
SparseM 1.81
TH.data 1.1-1
V8 4.2.1
XML 3.99-0.3
XVector 0.26.0
abind 1.4-5
ade4 1.7-19
annotate 1.64.0
ape 5.6-2
askpass 1.1
backports 1.4.1
base64enc 0.1-3
bbotk 0.5.3
beanplot 1.3.1
biomformat 1.14.0
bit 4.0.4
bit64 4.0.5
bitops 1.0-7
blob 1.2.3
brew 1.0-7
brio 1.1.3
broom 1.0.0
bslib 0.4.0
cachem 1.0.6
callr 3.7.1
car 3.1-0
carData 3.0-5
checkmate 2.1.0
cli 3.3.0
clipr 0.8.0
coin 1.4-2
colorspace 2.0-3
commonmark 1.8.0
corrplot 0.92
cowplot 1.1.1
cpp11 0.4.2
crayon 1.5.1
credentials 1.3.2
crosstalk 1.2.0
curl 4.3.2
data.table 1.14.2
desc 1.4.1
diffobj 0.3.5
digest 0.6.29
downlit 0.4.2
dplyr 1.0.9
dygraphs 1.1.1.6
ellipsis 0.3.2
evaluate 0.15
exactRankTests 0.8-35
fansi 1.0.3
farver 2.1.1
fastmap 1.1.0
fastmatch 1.1-3
flexdashboard 0.6.0
fontawesome 0.3.0
foreach 1.5.2
formatR 1.12
fs 1.5.2
futile.logger 1.4.3
futile.options 1.0.1
future 1.27.0
future.apply 1.9.0
genefilter 1.68.0
generics 0.1.3
gert 1.7.0
ggplot2 3.3.6
ggpubr 0.4.0
ggrepel 0.9.1
ggridges 0.5.3
ggsci 2.9
ggsignif 0.6.3
ggtext 0.1.1
gh 1.3.0
gitcreds 0.1.1
glmnet 3.0
globals 0.16.0
glue 1.6.2
gridBase 0.4-7
gridExtra 2.3
gridtext 0.1.4
gtable 0.3.0
highr 0.9
hms 1.1.1
htmltools 0.5.3
htmlwidgets 1.5.4
httpuv 1.6.5
httr 1.4.3
igraph 1.3.4
infotheo 1.2.0.1
ini 0.3.1
isoband 0.2.5
iterators 1.0.14
jpeg 0.1-9
jquerylib 0.1.4
jsonlite 1.8.0
kableExtra 1.3.4
katex 1.4.0
km.ci 0.5-6
knitr 1.39
labeling 0.4.2
lambda.r 1.2.4
later 1.3.0
lazyeval 0.2.2
lgr 0.4.3
libcoin 1.0-9
lifecycle 1.0.1
limma 3.42.2
listenv 0.8.0
lme4 1.1-30
lmerTest 3.1-3
magrittr 2.0.3
maptools 1.1-4
markdown 1.1
matrixStats 0.62.0
maxstat 0.7-25
memoise 2.0.1
mime 0.12
minqa 1.2.4
mlbench 2.1-3
mlr 2.19.0
mlr3 0.13.4
mlr3learners 0.5.3
mlr3measures 0.5.0
mlr3misc 0.10.0
mlr3tuning 0.13.1
modeltools 0.2-23
multcomp 1.4-20
multtest 2.42.0
munsell 0.5.0
mvtnorm 1.1-3
nloptr 2.0.3
numDeriv 2016.8-1.1
openssl 2.0.2
pROC 1.18.0
packrat 0.8.1
palmerpenguins 0.1.0
paradox 0.10.0
parallelMap 1.5.1
parallelly 1.32.1
pbkrtest 0.5.1
permute 0.9-7
phyloseq 1.30.0
pillar 1.8.0
pixmap 0.4-12
pkgbuild 1.3.1
pkgconfig 2.0.3
pkgload 1.3.0
plogr 0.2.0
plyr 1.8.7
png 0.1-7
polynom 1.4-1
praise 1.0.0
prettyunits 1.1.1
processx 3.7.0
progress 1.2.2
promises 1.2.0.1
ps 1.7.1
purrr 0.3.4
quantreg 5.94
rappdirs 0.3.3
rcmdcheck 1.4.0
rematch2 2.1.2
remotes 2.4.2
reshape2 1.4.4
rhdf5 2.30.1
rlang 1.0.4
rmarkdown 2.14
rprojroot 2.0.3
rsconnect 0.8.27
rstatix 0.7.0
rstudioapi 0.13
rvest 1.0.2
sandwich 3.0-2
sass 0.4.2
scales 1.2.0
scatterplot3d 0.3-41
selectr 0.4-2
sessioninfo 1.2.2
shape 1.4.6
shiny 1.7.2
snow 0.4-4
sourcetools 0.1.7
sp 1.5-0
stringi 1.7.8
stringr 1.4.0
survMisc 0.5.6
survminer 0.4.9
sva 3.34.0
svglite 2.1.0
sys 3.4
systemfonts 1.0.4
testthat 3.1.4
tibble 3.1.8
tidyr 1.2.0
tidyselect 1.1.2
tinytex 0.40
tufte 0.12
usethis 2.1.6
utf8 1.2.2
uuid 1.1-0
vctrs 0.4.1
vegan 2.6-2
viridisLite 0.4.0
waldo 0.4.0
webshot 0.5.3
whisker 0.4
withr 2.5.0
xfun 0.31
xml2 1.3.3
xopen 1.0.0
xtable 1.8-4
xts 0.12.1
yaml 2.3.5
zip 2.2.0
zlibbioc 1.32.0
zoo 1.8-10
